<% content_for :common do %>
  <%= javascript_import_module_tag "custom" %>
<% end %>

<h1>契約書類の作成などで使いたくなる変換</h1>
<div class="container">
  <h2>和暦　西暦</h2>
  <div class="row align-items-start">
    <div class="col">
      <div class="d-flex flex-row">
        <div>和暦：</div>
        <div>
          <select class="form-select emperor" aria-label="Default select example">
            <option selected></option>
            <option value="126">令和</option>
            <option value="125">平成</option>
            <option value="124">昭和</option>
            <option value="123">大正</option>
            <option value="122">明治</option>
          </select>
        </div>
        <div><input class="form-control nippons_year" /></div>    
      </div>
    </div>
    <div class="col">
      <div class="d-flex flex-row">
        <div>西暦：</div><div class="chg_ad"></div>
      </div>
    </div>
  </div>
</div>
