<% content_for :common do %>
  <%= javascript_import_module_tag "custom" %>
<% end %>

<h1>契約書類の作成などで使いたくなる変換</h1>
<p>Find me in app/views/conversion_pages/personal.html.erb</p>
<div class="container">
  <input type="text" class="emperor"  />
  <div class="chg_ad"></div>
</div>
